#back-login {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  background: url("../assets/background-login-v2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.login-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 350px;
  height: 450px;
  margin: auto;
  background: white;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 26px 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 26px 5px rgba(0, 0, 0, 0.1);
}

#logo-intra {
  margin-top: -50px;
  margin-bottom: 50px;
}

.input-login {
  border: none;
  border-bottom: 2px solid grey;
  margin-bottom: 40px;
  padding: 0px 0px 5px 0px;
  background: transparent;
  color: black;
}

.input-login:focus-visible {
  outline: transparent;
  border-bottom: 2px solid black;
}

#btn-connexion {
  border-radius: 5px;
  padding: 10px 40px 10px 40px !important;
  background: white;
  border: 1px solid black;
  text-transform: uppercase;
  margin-top: 15px;
  color: black;
}

#btn-connexion:hover {
  border-radius: 5px;
  padding: 12px 40px 12px 40px !important;
  background: black;
  color: white;
}
